In [1]:
from sklearn.datasets import load_iris
import pandas as pd

from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [2]:
data = load_iris()

In [3]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [5]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [6]:
df['target'] = data.target

In [7]:
df.loc[(df['target'] == 0), 'species'] = 'setosa'
df.loc[(df['target'] == 1), 'species'] = 'versicolor'
df.loc[(df['target'] == 2), 'species'] = 'virginica'

In [8]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [9]:
X_train, X_test, y_train, y_test = train_test_split(data.data, data.target)

In [10]:
clf = MLPClassifier(max_iter=300).fit(X_train, y_train)

/home/kevin/.local/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (300) reached and the optimization hasn't converged yet.
  warnings.warn(

In [11]:
clf.score(X_test, y_test)

0.9736842105263158