# Assignment1

### Import data

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Downloads/fb_friends.xlsx')
df

             Timestamp  How many Facebook friends do you have?
0  2013-01-02 16:59:06                                       0
1  2013-01-02 15:20:50                                      69
2  2013-01-02 16:16:51                                     123
3  2013-01-02 18:14:04                                     137
4  2013-01-02 20:04:27                                     174
5  2013-01-02 16:59:09                                     240
6  2013-01-02 15:19:48                                     241
7  2013-01-02 16:35:58                                     256
8  2013-01-02 16:28:28                                     258
9  2013-01-02 23:18:28                                     322
10 2013-01-02 16:17:02                                     366
11 2013-01-02 16:30:23                                     376
12 2013-01-02 15:26:34                                     408
13 2013-01-02 17:56:35                                     479
14 2013-01-02 15:56:00                                     555
15 2013-01-02 15:19:35                                     589
16 2013-01-03 10:20:51                                     600
17 2013-01-02 15:39:28                                     777
18 2013-01-02 15:21:24                                     784
19 2013-01-02 15:46:07                                     822
20 2013-01-02 16:53:47                                     850
21 2013-01-02 16:23:35                                     863
22 2013-01-02 15:20:15                                    1116
23 2013-01-02 16:24:46                                    1143
24 2013-01-02 15:21:11                                    1214
25 2013-01-07 18:15:32                                    1250
26 2013-01-02 15:26:57                                    1776

### Slicing

In [3]:
friends = df.iloc[:, 1]
friends

0        0
1       69
2      123
3      137
4      174
5      240
6      241
7      256
8      258
9      322
10     366
11     376
12     408
13     479
14     555
15     589
16     600
17     777
18     784
19     822
20     850
21     863
22    1116
23    1143
24    1214
25    1250
26    1776
Name: How many Facebook friends do you have?, dtype: int64

### Mean

In [4]:
print("Mean by built-in method:")
print(friends.mean())

print("Mean by mathematical operation using python:")
print(sum(friends) / len(friends))

Mean by built-in method:
584.7407407407408
Mean by mathematical operation using python:
584.7407407407408

### Median

In [5]:
print("Median by built-in method:")
print(friends.median())

print("Median by mathematical operation using python:")
median = 0
n = len(friends)
if n % 2 == 0:
    median = (friend[n/2 - 1] + friend[n/2]) / 2
else:
    median = friends[n//2]
print(median)

Median by built-in method:
479.0
Median by mathematical operation using python:
479

### Mode

In [6]:
print("Mode by built-in method:")
print(friends.mode())

print("Mode by mathematical operation using python:")
x = dict((key, (friends==key).sum()) for key in friends)
m = max(x.values())
for key,value in x.items():
    if value == m:
        print(key)

Mode by built-in method:
0        0
1       69
2      123
3      137
4      174
5      240
6      241
7      256
8      258
9      322
10     366
11     376
12     408
13     479
14     555
15     589
16     600
17     777
18     784
19     822
20     850
21     863
22    1116
23    1143
24    1214
25    1250
26    1776
dtype: int64
Mode by mathematical operation using python:
0
69
123
137
174
240
241
256
258
322
366
376
408
479
555
589
600
777
784
822
850
863
1116
1143
1214
1250
1776

### Variance

In [7]:
print("Variance by built-in method:")
print(friends.var())

print("Variance by mathematical operation using python:")
print(((friends - friends.mean()) ** 2 ).sum() / len(friends))

Variance by built-in method:
191477.3532763533
Variance by mathematical operation using python:
184385.59945130316

### Standard Deviation

In [8]:
print("Standard deviation by built-in method:")
print(friends.std())

print("Standard deviation by mathematical operation using python:")
import math
print(math.sqrt(float(((friends - friends.mean()) ** 2 ).sum() / len(friends))))

Standard deviation by built-in method:
437.5812533419974
Standard deviation by mathematical operation using python:
429.40144323383817